/.idea/workspace.xml
/node_modules
/.DS_STORE
/.module-cache
*.log*
/dist/*
!/dist/.gitkeep
bash.exe.stackdump
/.npmignore
report*.json
/tsconfig.node.json
/webpack.local.js
/webpack.library.js
/Makefile
/webpack.deploy.js
/webpack.dev.js
/webpack.browser.js
/tsconfig.build.json
/webpack.prod.js
/.gitattributes
/tsconfig.json
/tsconfig.common.json
/webpack.common.js
/webpack.qa.js
/webpack.publish.js
/ports.txt
/.idea/jsLibraryMappings.xml
/.idea/encodings.xml
/.idea/watcherTasks.xml
/.idea/misc.xml
/.idea/compiler.xml
/Makefile.snapshots
/webpack.self.js
/src/start.ts
